@model IEnumerable<InternalProject.Models.ProductVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Featured Products</h3>
<hr />

<div class="container body-content">
    <div class="row">
        @{
            foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail">
                        <img class="myImg img-thumbnail img-responsive" width="250" src="@Html.Raw(item.imgUrl)" style="height:160px;" />
                        
                        @*<div class="progress" width="10" style="height: 2px;">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                        </div>*@

                        <div class="container">
                            <div class="row">
                                <div class="progress skill-bar" style="height: 3px; margin:0px;">
                                    <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="caption">

                            <h4 class="pull-right">@Html.ActionLink(item.name.ToString(), "Details", new { id = item.productID })</h4>
                            <h4>Product: </h4>

                            <p class="pull-right"><s>@Html.DisplayFor(modelItem => item.price)</s></p>
                            <p>@Html.DisplayNameFor(model => model.price): </p>

                            <p class="pull-right">@Html.DisplayFor(modelItem => item.discountPrice)</p>
                            <p>@Html.DisplayNameFor(model => model.discountPrice): </p><br />

                            <div class="row" style="margin:auto">
                                @Html.ActionLink("Specs", "Details", new { id = item.productID }, new { @class = "btn btn-primary col-lg-6 col-md-6 col-sm-6 col-xs-12" })
                                @Html.ActionLink("Add to Cart", "Cart", new { controller = "Home", id = item.productID }, new { @class = "btn btn-success col-lg-6 col-md-6 col-sm-6 col-xs-12" })
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>


<script>

    var myVar = setInterval(function () { myTimer() }, 1);
    var count = 50;
    var orientation = 0;
    

    function myTimer() {
        
        //$('.progress .progress-bar').css("width",
        //         function () {
        //             return $(this).attr("aria-valuenow") + "%";
        //         }
        // )
        if (orientation == 0) {
            
            if (count < 99) {
                $('.progress').css('width', count + "%");
                count += 0.05;
            }
            else {
                orientation = 1;
            }
        } else {
            if (count > 1) {
                $('.progress').css('width', count + "%");
                count -= 0.05;
            }
            else  {
                orientation = 0;
            }
        }
    }

</script>